<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_arm_L6_lf" params="prefix parent xyz rpy">
        <xacro:revolute_joint name="${prefix}_J6" parent="${parent}" child="${prefix}_L6" xyz="${xyz}" rpy="${rpy}" axis="1 0 0" />

        <link name="${prefix}_L6">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${arm_mesh_path}/Link6.dae" scale="-1 1 1" />
                </geometry>
                <material name="red" />
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <!-- <cylinder radius="0.02" length="0.005"/> -->
                    <mesh filename="${arm_mesh_path}/Link6.dae" scale="-1 1 1" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="../joints.xacro" />  
    <xacro:include filename="../constants.xacro" />
    <xacro:include filename="../materials.xacro" />
    <link name="base" />
    <xacro:panda_arm_L6 prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0" /> -->
</robot>