<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_arm_L4_lf" params="prefix parent xyz rpy">
        <xacro:revolute_joint name="${prefix}_J4" parent="${parent}" child="${prefix}_L4" xyz="${xyz}" rpy="${rpy}" axis="1 0 0" />

        <link name="${prefix}_L4">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${arm_mesh_path}/Link4.dae" scale="1 -1 1" />
                </geometry>
                <material name="red" />
            </visual>

            <collision>
                <origin xyz="0.01 +0.015 -0.04" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.03" length="0.05"/>
                </geometry>
            </collision>

            <inertial>
                <origin xyz="0.005528 0.015452 -0.024028" rpy="0 0 0"/>
                <mass value="0.21197"/>
                <inertia
                    ixx="0.00016760" ixy="0.00000028" ixz="0.00001932"
                    iyy="0.00017551" iyz="0.00000051"
                    izz="0.00008108"/>
            </inertial>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="joints.xacro" />  
    <xacro:include filename="constants.xacro" />
    <xacro:include filename="materials.xacro" />
    <link name="base" />
    <xacro:panda_arm_L4 prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0" /> -->
</robot>