<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_leg_L2_rb" params="prefix parent xyz rpy">
        <xacro:revolute_joint name="${prefix}_J2" parent="${parent}" child="${prefix}_L2" xyz="${xyz}" rpy="${rpy}" axis="1 0 0" />

        <link name="${prefix}_L2">
           <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${leg_mesh_path}/Link2.dae" scale="-1 1 -1" />
                </geometry>
                <material name="red" />
            </visual> 

            <collision>
                <origin xyz="0.03 -0.06 -0.005" rpy="${pi/2} 0 0" />
                <geometry>
                    <cylinder radius="0.0275" length="0.16"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="../joints.xacro" /> 
    <xacro:include filename="../constants.xacro" />
    <xacro:include filename="../materials.xacro" />
    <link name="base" />
    <xacro:panda_leg_L2_rb prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0" /> -->
</robot>