<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_leg_L5" params="prefix parent xyz rpy">
        <xacro:fixed_joint name="${prefix}_J5" parent="${parent}" child="${prefix}_L5" xyz="${xyz}" rpy="${rpy}"/>

        <link name="${prefix}_L5">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.01" length="0.005"/>
                </geometry>
                <material name="blue" />
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.01" length="0.005"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="../joints.xacro" />  
    <xacro:include filename="../constants.xacro" />
    <xacro:include filename="../materials.xacro" />

    <link name="base" />
    <xacro:panda_leg_L5 prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0" /> -->
</robot>