<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_leg_L4_lb" params="prefix parent xyz rpy">
        <xacro:revolute_joint name="${prefix}_J4" parent="${parent}" child="${prefix}_L4" xyz="${xyz}" rpy="${rpy}" axis="1 0 0" />

        <link name="${prefix}_L4">
           <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${leg_mesh_path}/Link4.dae" scale="-1 1 1" />
                </geometry>
                <material name="red" />
            </visual> 

             <collision>
                <origin xyz="0.0 0.0 -0.06" rpy="0 0 0" />
                <geometry>
                    <box size="0.065 0.02 0.06"/> <!-- TODO: set x y z size -->
                </geometry>
            </collision>

            <inertial>
                <origin xyz="0.005400 0.000762 -0.054807" rpy="0 0 0"/>
                <mass value="0.20986"/>
                <inertia
                    ixx="0.00011473" ixy="0.00001510" ixz="-0.00000999"
                    iyy="0.00017398" iyz="0.00001411"
                    izz="0.00013573"/>
            </inertial>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="../joints.xacro" /> 
    <xacro:include filename="../constants.xacro" />
    <xacro:include filename="../materials.xacro" />
    <link name="base" />
    <xacro:panda_leg_L4 prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0"/> -->
</robot>