<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:macro name="panda_leg_L5" params="prefix parent xyz rpy">
        <xacro:revolute_joint name="${prefix}_J5" parent="${parent}" child="${prefix}_L5" xyz="${xyz}" rpy="${rpy}" axis="1 0 0"/>

        <link name="${prefix}_L5">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${leg_mesh_path}/Link5.dae" scale="1 1 1" />
                </geometry>
                <!-- <material name="blue" /> -->
            </visual>

            <collision>
                <origin xyz="0.0 0.0 -0.05" rpy="0 0 0" />
                <geometry>
                    <!-- <mesh filename="${meshes_path}/Link5.dae" scale="${reflect} 1 1" /> -->
                    <!-- <cylinder radius="0.015" length="0.07"/> -->
                    <box size="0.08 0.02 0.05"/> <!-- TODO: set x y z size -->
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!--!TEST -->
    <!-- <xacro:include filename="../joints.xacro" />  
    <xacro:include filename="../constants.xacro" />
    <xacro:include filename="../materials.xacro" />

    <link name="base" />
    <xacro:panda_leg_L5 prefix="RF" parent="base" xyz="0 0 0" rpy="0 0 0" /> -->
</robot>